<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950646609315-khcb44a3pjhfcjivnj9jtfa0sl33rkon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950646609315-khcb44a3pjhfcjivnj9jtfa0sl33rkon</string>
	<key>API_KEY</key>
	<string>AIzaSyAFddwcchA5Rx9-dvIYU5mwRGcFgZeqS3k</string>
	<key>GCM_SENDER_ID</key>
	<string>950646609315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trainrsid</string>
	<key>PROJECT_ID</key>
	<string>sunlit-train-rfid</string>
	<key>STORAGE_BUCKET</key>
	<string>sunlit-train-rfid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950646609315:ios:7c6d7d6de053b9fd92f616</string>
</dict>
</plist>